* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  margin-top:15px;
  text-align: center;
}

div >div{
  background-color: #BEBEBE;
  width:100%;

}
h2{
  margin-top: 0;
  width:100px;
  height:27px;
  margin
  font-size: 150%;  
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  float:right;
}
#chicken{
  color: black;
  background-color: #fb9f9f;
}
#beef{
  color: white;
  background-color: maroon;
}
#sushi{
  color: black;
  background-color: lightyellow;
}

section {
  width: 90%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: auto;
  font-family: Helvetica;
  color: black;
  clear: right;

}
/* Simple Responsive Framework. */
.row {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid black;
  }
  .col-lg-4 {
    width: 30%;
    margin-left:1.66%;
    margin-right:1.66%;

  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
  }
  .col-md-6 {
    width: 46%;
    margin-right:2%;
    margin-left:2%;
    margin-bottom:2%;
  }
  .col-md-12 {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }
}

@media (max-width: 767px) {
  .col-sm-12{
    float left;
    border: 1px solid black;
  }
  .col-sm-12 {
    width: 90%;
    margin-bottom:  20px;
    margin-left: 5%;
    margin-right:5%;
  }
}